## Data Structures Lists, Tuples

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

In [ ]:
# append()
my_list.append(6)  # Adds 6 to the end of the list
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend()
my_list.extend([7, 8, 9])  # Extends the list with elements from another list
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# insert()
my_list.insert(2, 10)  # Inserts 10 at index 2
print(my_list)

[1, 2, 10, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# remove()
my_list.remove(3)  # Removes the first occurrence of 3
print(my_list)

[1, 2, 10, 4, 5, 6, 7, 8, 9]

In [ ]:
# pop()
popped_element = my_list.pop(3)  # Removes and returns the element at index 3
print(popped_element)  # Output: 4
print(my_list)

4
[1, 2, 10, 5, 6, 7, 8, 9]

In [ ]:
# index()
index = my_list.index(5)  # Returns the index of the first occurrence of 5
print(index)

3

In [ ]:
# count()
count = my_list.count(10)  # Returns the number of occurrences of 10
print(count)

1

In [ ]:
# sort()
my_list.sort()  # Sorts the list in ascending order
print(my_list)

[1, 2, 5, 6, 7, 8, 9, 10]

In [ ]:
# To reverse, first sort the data
# reverse()
my_list.reverse()  # Reverses the order of elements in the list
print(my_list)

[10, 9, 8, 7, 6, 5, 2, 1]

In [29]:
# sorted()
my_list1 = [2,4,5,2,1,3,6,7,9,8,10]
my_list_ = sorted(my_list1)  # Sorts the list in ascending order
print(my_list_)

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
#Example:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [33]:
# count()
count = my_tuple.count(3)  # Returns the number of occurrences of 3
print(count)

1

In [34]:
# index()
index = my_tuple.index(4)  # Returns the index of the first occurrence of 4
print(index)

3

In [ ]:
print(my_tuple[1])

2

## Dictionaries,Sets

In [ ]:
my_dictionary= dict([('name', ['Mary','Simon','Toto']),
                    ('age', [20,21,3]),
                    ('city', ['Mombasa','Nairobi','Kisumu'])]

                    )

In [ ]:
my_dict = {"name": "Mary", "age": 20, "city": "Mombasa"}

In [1]:
# Creating a dictionary
my_dict = {"name": "Simon", "age": 21, "city": "Nairobi"}

In [ ]:
#get()
age = my_dict.get('age')
print(age)

30

In [ ]:
#indexing
age = my_dict['age']
print(age)

30

In [2]:
#items()
items = my_dict.items()
print(items)

dict_items([('name', 'Simon'), ('age', 21), ('city', 'Nairobi')])

In [3]:
#keys()
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [4]:
#values()
values = my_dict.values()
print(values)

dict_values(['Simon', 21, 'Nairobi'])

In [5]:
print(my_dict)

{'name': 'Simon', 'age': 21, 'city': 'Nairobi'}

In [35]:
#update()
my_dict.update({'age':25,'gender':'Male'})
print(my_dict)

{'name': 'Simon', 'age': 25, 'city': 'Nairobi', 'gender': 'Male'}

In [8]:
my_dictionary= dict(
                    [('name', ['Markie','Eunice','Molenza']),
                    ('age', [22,20,26]),
                    ('city', ['Nairobi','Nakuru','Kisumu'])]

                    )
my_dictionary

{'name': ['Markie', 'Eunice', 'Molenza'],
 'age': [22, 20, 26],
 'city': ['Nairobi', 'Nakuru', 'Kisumu']}

In [9]:
my_dictionary.update({'gender':['Female','Female','Female']})
my_dictionary

{'name': ['Markie', 'Eunice', 'Molenza'],
 'age': [22, 20, 26],
 'city': ['Nairobi', 'Nakuru', 'Kisumu'],
 'gender': ['Female', 'Female', 'Female']}

In [10]:
# Creating a set
my_set = {1, 2, 3, 4, 5}

In [13]:
#add()
my_set.add(6)
print(my_set)

{1, 2, 4, 5, 6, 7, 8, 9}

In [12]:
#update
my_set.update({7,8,9})
print(my_set)

{1, 2, 4, 5, 7, 8, 9}

In [11]:
#remove()
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

In [14]:
#discard()
my_set.discard(5)
print(my_set)

{1, 2, 4, 6, 7, 8, 9}

In [15]:
#pop
popped_element = my_set.pop()
print(popped_element)

1

In [17]:
#clear()
my_set.clear()
print(my_set)

set()

In [19]:
# Creating sets for methods demonstration
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [20]:
#union()
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [21]:
# union operator
union_set1 = set1 | set2
print(union_set1)

{1, 2, 3, 4, 5}

In [ ]:
#intersection()
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [22]:
#intersection operator
intersection_set1 = set1 & set2
print(intersection_set1)

{3}

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [23]:
#difference
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [25]:
#difference
difference_set = set2.difference(set1)
print(difference_set)

{4, 5}

In [26]:
#symmetric difference
symmetric_difference = set1.symmetric_difference(set2)
print(symmetric_difference)

{1, 2, 4, 5}